@model Authentication.Models.ForgotPasswordRequest


@{
    ViewData["Title"] = "Login Page";
}

<main class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="form-signin text-dark rounded shadow-lg" style="max-width: 400px; padding: 2.5rem; background: linear-gradient(145deg, #ffffff, #f1f3f5); border-radius: 12px;">
        
        <div class="text-center mb-4">
            <div class="fs-3 fw-bold text-primary">Authenticator App</div>
            <div class="fs-4 fw-bold text-dark">Forgot Password</div>
        </div>

        <hr class="border-primary" />

  
        <form asp-action="ForgotPassword">

            <div asp-validation-summary="All" class=" text-center mb-3"></div>

            <div class="form-floating mb-3">
                <input asp-for="Email" type="text" class="form-control border-0 shadow-sm" id="inputEmail" placeholder="Email address" style="background-color: #f8f9fa;">
                <label for="inputEmail" class="text-secondary">Email address</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100 py-2 mb-3 shadow-sm" style="border-radius: 30px;">Reset Password</button>

            </div>

            <hr class="border-primary" />

            <div class="text-center">
                <a asp-action="Login" class="btn btn-primary w-40 py-1 mb-3 shadow-sm" style="border-radius: 30px;">Back</a>
            </div>
            <p class="mt-4 mb-3 text-center text-muted">&copy; 2024</p>
        </form>
    </div>
</main>
